
/* Ensure all elements use border-box */
*, *::before, *::after {
  box-sizing: border-box;
}
.intro-box {

  background: #f0f0f0;
  padding: 20px;
  margin-bottom: 40px; /* Spacing between sections */
}
.landing-header {
  text-align: center;
  margin-bottom: 50px;
}
.landing-logo {
  max-width: 100%;
  height: auto;
}

.landing-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.landing-subtitle {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.logo-container {
  display: flex;
  justify-content: flex-end; /* Align logo to the right of container*/
}



.get-started-btn {
  margin-top: 30px;
  background-color: grey;
  color: white;
  transition: background-color 0.3s;
}



.get-started-btn:hover {
  background-color: black; /* dark grey  #424242 */

}

/* team member styles */
.team-grid-container {
  justify-content: center;
  margin-top: 50px;
}

.team-member {
  text-align: center;
  margin-bottom: 40px;
}

.team-avatar {
  background-color: #ccc;
  margin-bottom: 45px;
}

.team-name {
  font-size: 24px;
  font-weight: 500;
}

.team-role {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 960px) {
  .logo-container {
    justify-content: center; /* Center the logo on smaller screens */
    margin-top: 20px;
  }
}
/* Footer styles  */
.footer {
  /* Your styles here */

}